<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
        <style>
            body{
                background-color: lightgrey;
            }
        
        </style>
    
    
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div class="list-group">
                        <div>
                        <br>
                        <br>
                        <a href="{% url 'crud_agenda_inicial1' %}" class="list-group-item list-group-item-action">CRUD Agenda Inicial 1</a>
                        <br>
                        <br>
                        <a href="{% url 'crud_agenda_inicial2' %}" class="list-group-item list-group-item-action">CRUD Agenda Inicial 2</a>
                        <br>
                        <br>
                        <a href="{% url 'crud_agenda_final1' %}" class="list-group-item list-group-item-action">CRUD Agenda Final 1</a>
                        <br>
                        <br>
                        <a href="{% url 'crud_agenda_final2' %}" class="list-group-item list-group-item-action">CRUD Agenda Final 2</a>
                        <br>
                        <br>
                        <a href="{% url 'crud_usuarios' %}" class="list-group-item list-group-item-action">CRUD Usuarios</a>
                        <br>
                        <br>
                        <a href="{% url 'crud_vehiculos' %}" class="list-group-item list-group-item-action">CRUD Vehículos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>








    </body>

</html>